# Compiled Object files
*.slo
*.lo
*.o
*.obj

#BackUp File
*~

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


#CMAKE
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

#DOXYGEN
*.html

#DATABASE
*.jpg
*.png
*.avi
*.mp4
*.yml

#MATLAB MEX
*.mexa64

#MAT file
#*.mat

#Eclipse
.cproject
.gitignore~
.project

#Executable
src/FishDetector

#Temp
*.swp
